<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1">
    <title>叫号展示页面</title>
</head>
<!-- 新 Bootstrap5 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

<!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<style>
    .top{
        margin-top: 20px;
        margin-left: 30%;
    }
</style>
<body>
<!--<div>-->
<!--    <div>-->
<!--        <div th:each="s:${status0}" class="top">-->
<!--            请编号<span th:text="${s.bh}"></span>到窗口<span th:text="${s.ckbh}"></span>办理业务！-->
<!--        </div>-->
<!--        <div th:each="s1:${status}" class="top">-->
<!--            <span>请等待</span><span th:text="${s1.bh}"></span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="2">办理中</th>
                    <th>请等待</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s:${status0}">
                    <td th:text="'请编号'+${s.bh}+'到窗口'+${s.ckbh}+'办理业务！'"></td>
                    <!--        <td th:text="${s.bh}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>

</body>
</html>